invisible-watermark
diffusers
transformers
pytorch-lightning
einops
omegaconf
torch
torchvision
numpy
opencv-python
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip
# This path is open_stable_diffusion dependant.
-e /app/
